<h1>Data Science Tools and Ecosystem</h1>

In this notebook, we will create a summary of Data Science Tools and Ecosystem.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python
    <li>R
    <li>Java
</ol>

<b>Objectives:</b>

Some of the objectives covered in this notebook:

<ul>
    <li>List popular languages for data science
    <li>List popular libraries used by data scientists
    <li>Evaluate arithmetic expressions
</ul>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>Pandas
    <li>NumPy
    <li>Matplotlib
</ol>

<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

<pre>a = 10
b = 5
sum = a + b
sum

brackets = (10 + 5) * 2 - (3 * 4) / 2
brackets

c = 4
d = 2
power = c ** d
power</pre>

In [6]:
print("This a simple arithmetic expression to mutiply then add integers")

(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [9]:
print("This will convert 200 minutes to hours by diving by 60")

minutes = 200
hours = minutes/60

print(f"{minutes} minutes is equal to {hours} hours.")

This will convert 200 minutes to hours by diving by 60
200 minutes is equal to 3.3333333333333335 hours.

<h2>Author</h2>

Paul Golder